<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--  <script src="/javascript/application2.js" type="text/javascript"></script> -->
  <script type="text/javascript">
  // loadした時
  window.addEventListener('load', () => {
    // WebSocketでの接続先のアドレスを指定
    let ws = new WebSocket('wss://' + window.location.host + '/websocket');

    // 接続開始メソッド ()なので引数なし
    ws.onopen = () => console.log('connection opened');
    // 接続終了メソッド ()なので引数なし
    ws.onclose = () => console.log('connection closed');
    // サーバーからsendされた時に実行される関数 m=sendが引数
    ws.onmessage = m => {
      let objimg = document.createElement('img');
      objimg.src = m.data;
      let objdiv = document.createElement('div');
      objdiv.className='img_layout';

      objdiv.insertAdjacentElement('afterbegin', objimg);
      console.log(objdiv);

      let objBody = document.getElementsByTagName("section").item(0);
      objBody.insertAdjacentElement('afterbegin',objdiv);
//      objBody.appendChild(objdiv);
    }

    var prevention_timeout = function(){
      ws.send("Timeout")
    }
    setInterval(prevention_timeout, 20000)

    // テキストボックスをクリックされた時
    //sendMsg.addEventListener('click', () => sendMsg.value = '');

/*
    //formでsubmitされたとき
    form.addEventListener('submit', e => {
      var file = sendFile.files[0];
      var reader = new FileReader();

      reader.onload = function() {
        var ar = new Uint8Array(reader.result);
        ws.send(file.name);
        ws.send(ar.buffer);
        //ws.close();
      }

      reader.readAsArrayBuffer(file);

      //ws.send(sendFile.data);
      // 送信後、テキストボックスをクリア
      //sendMsg.value = '';
      // デフォルトアクションを抑止する
      e.preventDefault();
    });
*/
  });
  </script>
  <style type="text/css">
    .center { text-align:center; }    
    .img_layout { 
      /* float:要素を横並びにする */
      float:left;
      width: 350px;
      height: 350px;
      margin: 20px;
      /* display:要素の表示形式を指定 inline-block:インラインレベルのブロックコンテナを生成 */
      display: inline-block;
      /* background-position:背景画像の表示位置を指定 */
      background-position: center center;
      /* background-repeat:背景画像のリピートを指定 */
      background-repeat: no-repeat;
      /* background-size:背景画像のサイズを指定 contain:縦横比は保持、背景領域に収まる様にする */
      background-size: contain;
      /* background-color: #ccc; */
      /* border: 1px solid #ccc; */
      text-align: center;
    }
  </style>
  <title>Potoment_Ver_1_0</title>
</head>
<body>
  <div class="center"><h1>Congratulations</h1></div>
  <section></section>
</body>
</html>

